{% extends "app/layout.html" %}

{% block content %}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
	        <div class="col-md-12">
		        <h1>All styles and elements</h1>
	        </div>
        </div>
    </div>
</div>
<div class="section">
	<div class="container">
        <div class="row">
            {% for element in elements %}
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <h3>{{ element.name }}</h3>
                        <h4>Category - {{ element.category }}</h4>
                        <h4>Preview: </h4>
                        <div>
                            <{{ element.name }} style="{{ element.css_string }}">{{ element.name }}</{{ element.name }}>
                        </div>
                    </div>
                </div>        
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}