<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/header.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/icomoon-social.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'app/content/leaflet.css' %}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'app/content/main.css' %}">
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="header">
            <div class="title">
                <h1>
                    <em>Find the best styles there are!</em>
                </h1>
            </div>
            <div class="links">
                {% include 'app/loginpartial.html' %}
            </div>
        </div>        
        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
                        <li class="logo-wrapper"><a href="{% url 'home' %}">Search Buble</a></li>
						<li class="active">
							<a href="{% url 'home' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'all_elements' %}">Elements</a>
						</li>
						<li>
                           <a href="{% url 'all_categories' %}">Categories</a> 
                        </li>
					</ul>
				</nav>
			</div>
		</div>
        <div>
            {% block content %}{% endblock %}
        </div>

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Presian Abarov</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
	        				<b>Phone:</b> +44 123 654321<br/>
	        				<b>Fax:</b> +44 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
	        			</p>
		    		</div>
                    <div class="col-footer col-md-4 col-xs-6">
		    			<h3>Kaloyan Pavlov</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
	        				<b>Phone:</b> +44 123 654321<br/>
	        				<b>Fax:</b> +44 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{% static 'app/scripts/jquery-1.10.2.min.js' %}\"><\/script>")</script>
        <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{% static 'app/scripts/jquery.fitvids.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.sequence-min.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.bxslider.js'%}"></script>
        <script src="{% static 'app/scripts/main-menu.js' %}"></script>
        <script src="{% static 'app/scripts/template.js' %}"></script>
    </body>
</html>